.explore {
  width: 100%;

  .list {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .label {
        min-width: 200px;
        margin-top: 4px;
        font-weight: bold;
      }

      .label + .value {
        margin-left: 20px;

        @media (max-width: 767px) {
          margin-top: 20px;
          margin-left: 0px;
        }
      }

      .value {
        margin-top: 4px;
        font-weight: normal;

        // sass-lint:disable no-duplicate-properties
        word-break: break-all;
        word-break: break-word;
      }
    }

    .hash {
      margin-top: 4px;
      font-size: 16px;

      // sass-lint:disable no-duplicate-properties
      word-break: break-all;
      word-break: break-word;

      @media (max-width: 767px) {
        margin-bottom: 0px;
      }

      .checksum {
        font-weight: bold;
      }
    }

    .count {
      @media (max-width: 767px) {
        margin-top: 20px;
      }
    }

    .items {
      display: flex;
      flex-direction: column;

      .filter-form {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .checkbox {
          margin-bottom: 0px;

          .checkbox-border {
            width: 32px;
            height: 32px;
          }
          .checkbox-border + label {
            font-size: 16px;
          }
        }
      }

      .row {
        display: flex;
        flex-direction: column;

        a {
          margin-bottom: 20px;
          color: var(--blueberry);
          font-weight: normal;
          line-height: 1;

          // sass-lint:disable no-duplicate-properties
          word-break: break-all;
          word-break: break-word;
        }
      }
    }

    .hash + button {
      margin-left: 10px;

      @media (max-width: 767px) {
        margin-top: 10px;
        margin-left: 0px;
      }
    }

    .heading {
      display: flex;
      align-items: center;

      .transactions-count {
        font-size: 14px;
        margin-left: 40px;
      }
    }
  }
}
