.simple-transaction {
  width: 100%;

  .row-success {
    display: flex;
    flex-direction: row;
    align-items: center;

    .success-wrapper {
        width: auto;
    }
  }

  a {
    color: var(--blueberry);
    font-weight: normal;
    line-height: 1;
    word-break: break-all;
  }

  .map-container {
    height: 640px;
    width: 100%;
    border: 1px solid var(--jade);
    margin-bottom: 20px;
  }
}
