.area-code-map {
  position: relative;

  .area-code-map--disabled-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 640px;
    border: 1px solid var(--jade);
    background-color: #eeeeee;
    opacity: 0.7;
    z-index: 100;
  }

  .area-code-map--map-container {
    width: 100%;
    height: 640px;
    margin-bottom: 20px;
    border: 1px solid var(--jade);
  }

  .area-code-map--actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 0px;
      margin-left: 20px;
    }
  }
}
