.area-code-map {
  position: relative;

  .area-code-map--disabled-overlay {
    height: 640px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #eeeeee;
    border: 1px solid var(--jade);
    opacity: 0.7;
    position: absolute;
    z-index: 100;
  }

  .area-code-map--map-container {
    height: 640px;
    width: 100%;
    border: 1px solid var(--jade);
    margin-bottom: 20px;
  }

  .area-code-map--actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 20px;
      margin-right: 00px;
    }
  }
}
