.bundle-object {
  .group {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-top: 20px;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .transaction {
      margin-bottom: 20px;
    }

    .caption-wrapper {
      position: relative;

      .confirmation {
        position: absolute;
        top: -4px;
        right: 0px;
      }
    }

    .caption {
      display: flex;
      justify-content: space-between;
      min-height: 40px;
      margin-bottom: 20px;
      padding-top: 10px;
      border-bottom: 2px solid var(--light-grey);
      color: var(--jade);
      font-size: 16px;
      font-weight: bold;

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .inputs {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-right: 10px;

      @media (max-width: 767px) {
        margin-right: 0px;
      }
    }

    .outputs {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 10px;

      @media (max-width: 767px) {
        margin-left: 0px;
      }
    }
  }
}
