.confirmation {
  font-size: 16px;
  color: var(--white);
  background-color: var(--warning);
  padding: 10px 10px;
  border-radius: 5px;

  &.confirmed {
    background-color: var(--success);
  }

  &.pending {
    background-color: var(--danger);
  }

  &.reattachment {
    background-color: var(--info);
  }
}
