.confirmation {

  .value {
    padding: 4px;
    border-radius: 5px;
    background-color: var(--warning);
    color: var(--white);
    font-size: 14px;

    &.confirmed {
      background-color: var(--success);
    }

    &.pending {
      background-color: var(--danger);
    }

    &.reattachment {
      background-color: var(--info);
    }
  }
}
