.inline-currency {
  display: flex;
  align-items: center;

  .currency {
    min-width: 150px;
    margin-right: 10px;
    padding-right: 30px;
    white-space: nowrap;
  }

  .select-wrapper {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    border-color: var(--light-grey);

    select {
      height: 40px;
      color: var(--black);
    }

    &::after {
      color: var(--gunmetal-grey);
    }
  }
}
