.transaction-object {
  display: flex;
  flex-direction: column;

  h2 {
    color: var(--jade);
  }

  .row {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &.top {
      align-items: flex-start;
    }

    .col {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      min-height: 40px;

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }

      &.top {
        align-items: flex-start;
      }

      &.right {
        justify-content: flex-end;

        @media (max-width: 767px) {
          justify-content: flex-start;
          margin-top: 20px;
        }
      }

      &.fill {
        width: 100%;
      }
    }

    .col + .col {
      margin-left: 10px;

      @media (max-width: 767px) {
        margin-top: 10px;
        margin-left: 0px;
      }
    }

    .label {
      min-width: 100px;
      font-weight: bold;
    }

    .label + .value,
    .label + .spinner {
      margin-left: 20px;

      @media (max-width: 767px) {
        margin-top: 5px;
        margin-left: 0px;
      }
    }

    .value {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: normal;

      // sass-lint:disable no-duplicate-properties
      word-break: break-all;
      word-break: break-word;

      &.fill {
        width: 100%;
      }

      &.yes,
      &.no {
        padding: 4px;
        border-radius: 5px;
        color: var(--white);
        font-size: 14px;
      }

      &.yes {
        background-color: var(--success);
      }

      &.no {
        background-color: var(--danger);
      }

      &.strong {
        font-weight: 600;
      }

      .button {
        margin-left: 0px;
      }

      .confirmation + .button {
        margin-left: 10px;
      }
    }

    .value + button {
      margin-left: 10px;

      @media (max-width: 767px) {
        margin-top: 10px;
        margin-left: 0px;
      }
    }

    .checksum {
      font-weight: bold;
    }

    .nav-link {
      color: var(--blueberry);
      font-weight: normal;
      line-height: 1.5;
      font-size: 14px;

      &.small {
        font-size: 12px;
      }
    }

    pre {
      max-height: 200px;
      margin: 0;
      white-space: pre-wrap;
      overflow: auto;

      &.ascii,
      &.json,
      &.trytes {
        padding: 10px;
        border: 1px solid var(--light-grey);
        border-radius: 5px;
      }

      &.trytes {
        max-height: 100px;
      }
    }

    .index {
      margin-right: 10px;
    }

    .currency {
      min-width: 150px;
      margin-right: 10px;
      padding-right: 30px;
      white-space: nowrap;
    }
  }

  .action-container {
    display: flex;
    flex-direction: row;

    @media (max-width: 767px) {
      margin-top: 10px;
    }

    .button {
      margin-left: 10px;

      @media (max-width: 767px) {
        margin-right: 10px;
        margin-left: 0px;
      }
    }
  }
}
