.transaction-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .transaction-summary--row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    .nav-link {
      color: var(--blueberry);
      font-weight: normal;
      line-height: 1.5;
      word-break: break-all;
      font-size: 14px;
    }

    .confirmation {
      display: flex;
      min-height: auto;

      .value {
        padding: 4px;
        font-size: 14px;
      }
    }

    .time {
      font-size: 14px;
    }

    .col1 {
      flex: 1;
      margin-right: 20px;
    }

    .col2 {
      display: flex;
      justify-content: flex-end;
      width: 130px;
      white-space: nowrap;
    }
  }
}
